/**
 * Copyright 2013 Adrián López González <adrian.lg.456@gmail.com>
 *
 * This file is part of BattleShips.
 *
 * BattleShips is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * BattleShips is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with BattleShips.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

html {
	outline: none;
/* 	overflow: hidden; */
}
.font {
	font-family: "Helvetica";
}

#gameContainer {
	margin: 0 auto;
	width: 800px;
	height: 600px;
	border: 5px solid black;
}

.gameLayer {
	width: 800px;
	height: 600px;
	position: absolute;
 	display: none;  
}

/** 
====================
	Splash Screen 
====================
*/
#splashScreen {
	text-align: center;
	margin-top: 150px;
	opacity: 0.0;
}

	#splashScreen img {
		width: 150px;
		height: 150px;
	}
	
	#splashScreen p {
		font-size: 15px;
		font-weight: bold;
		color: black;
	}
	
/**
========================
	Main menu Screen 
========================
*/
#mainMenuScreen {
	margin: 0 auto;
	text-align: center;
}	

	#mainMenuScreen #mainMenuTitle {
		position: absolute;
		margin-top: -500px;
		margin-left: -300px;
	}
	
	#mainMenuScreen #mainMenuButtons {
		position: absolute;
		left: 35%;
		margin-top: 430px;
		background: rgba(80, 80, 80, 0.6);
		padding: 5px;
		border-radius: 25px;
		border: 2px black solid;
		box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
		opacity: 0.0;
	}
	
		#mainMenuScreen #mainMenuButtons input {
			margin: 10px;
			width: 200px;
			padding: 5px;
			border: 2px black solid;
			border-radius: 25px;
			background: #4565ff;
			font-weight: bold;
			font-size: 20px;
			color: white;
		}
		
		#mainMenuScreen #mainMenuButtons input:HOVER {
			background: #9f0;
		}
		
	#mainMenuCredits {
		position: absolute;
		left: 33%;
		margin-top: 150px;
		background: rgba(80, 80, 80, 0.6);
		padding: 5px;
		border-radius: 25px;
		border: 2px black solid;
		box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
		color: white;
		text-align: justify;
		display: none;
		opacity: 0.0;
	}
		
		#mainMenuCredits input {
			float: right;
			margin-right: 20px;
			background: #000;
			border: 2px black solid;
			border-radius: 25px;
			color: white;
			font-weight: bold;
		}
		
/**
=================
	Game Loop
=================
*/
.box {
	width: 20px;
	height: 20px;
	border: 1px black solid;
}

#gameLoop {
	margin-top: 20px;
}

	#gameLoop #bpause {
		float: right;
		margin-right: 20px;
		background: #000;
		border: 2px black solid;
		border-radius: 25px;
		color: white;
		font-weight: bold;
	}
	
	#gameLoop #pauseGame {
		position: absolute;
		margin-top: 100px;
		left: 35%;
		background: rgba(80, 80, 80, 0.8);
		padding: 5px;
		border-radius: 25px;
		border: 2px black solid;
		box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
		z-index: 999;
		color: white;
		display: none;
	}
	
		#gameLoop #pauseGame input {
			margin: 10px;
			width: 200px;
			padding: 5px;
			border: 2px black solid;
			border-radius: 25px;
			background: #4565ff;
			font-weight: bold;
			font-size: 20px;
			color: white;
		}
		
		#gameLoop #pauseGame input:HOVER {
			background: #9f0;
		}
		
		
	#gameLoop #gameOver {
		position: absolute;
		margin-top: 100px;
		left: 35%;
		background: rgba(80, 80, 80, 0.8);
		padding: 5px;
		border-radius: 25px;
		border: 2px black solid;
		box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
		z-index: 999;
		color: white;
		display: none;
	}
		#gameLoop #gameOver input {
			margin: 10px;
			width: 200px;
			padding: 5px;
			border: 2px black solid;
			border-radius: 25px;
			background: #4565ff;
			font-weight: bold;
			font-size: 20px;
			color: white;
		}
		
		#gameLoop #gameOver input:HOVER {
			background: #9f0;
		}
	
	#gameLoop #info {
		float: right;
		margin-top: 150px;
		margin-right: 0px;
	}
		
		#gameLoop #info table {
			margin-bottom: 20px;
		}
		
		#gameLoop #info p {
			margin-left: 30px;
			margin-top: -43px;
		}
		
	#gameLoop #userControlPanel {
		float: right;
		margin-top: -100px;
		margin-right: 50px;
	}
		#gameLoop #userControlPanel input {
			margin-bottom: 20px;
		}
		
	#gameLoop #howToPlay {
		position: absolute;
		margin-top: -400px;
		left: 33%;
		background: rgba(80, 80, 80, 0.8);
		padding: 5px;
		border-radius: 25px;
		border: 2px black solid;
		box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
		z-index: 999;
		color: white;
		display: none;
	}
	
		#gameLoop #howToPlay input {
			float: right;
			margin-right: 20px;
			background: #000;
			border: 2px black solid;
			border-radius: 25px;
			margin-left: 200px;
			color: white;
			font-weight: bold;
		}
		
		#gameLoop #howToPlay #leftArrow {
			position: absolute;
			float: left;
			margin-left: 20px;
		}
		
		#gameLoop #howToPlay #rightArrow {
			
		}
		
	#gameLoop #iaThink {
		position: absolute;
		margin-top: -20px;
		width: 800px;
		height: 600px;
		background: rgba(150,150,150,0.6);
		text-align: center;
		z-index: 9999;
		display: none;
	}
		#gameLoop #iaThink img {
			margin-top: 125px;
			width: 300px;
			height: 300px;
		}
		
		#gameLoop #iaThink p {
			margin-top: -170px;
			color: white;
			font-weight: bold;
		}
		
		
		