@CHARSET "UTF-8";

html {
	background-color: black;
}
/*==========
	ID
============*/
#scoreIA {
	float: left;
	margin: 0;
}

#scorePlayer {
	float: right;
	margin: 0;
	padding-bottom: 10px;
}

#board {
	width: 100%;
	float: left;
}

#gameLayer {
	margin-left: 45%;
	margin-top: 15%;
	width: 200px;
	text-align: center;
	color: white;
}

#gameLayer p {
	padding-top: 10px;
	color: white;
}

#gameLayer p:HOVER {
	color: blue;
}

#howToPlay {
	position: absolute;
	margin-left: 38%;
	margin-top: 10%;
	text-align: center;
	color: white;
	display: none;
	padding: 10px;
}

#howToPlay p {
	padding-top: 10px;
	color: white;
}

#howToPlay p:HOVER {
	color: blue;
}

#pauseGame {
	position: absolute;
	margin-left: 40%;
	margin-top: 15%;
	text-align: center;
	color: white;
	display: none;
	padding: 10px;
}

#paddleLeft {
	float: left;
	border: 0px;
}

#paddleRight {
	float: right;
	border: 0px;
}

/*==========
	CLASES
============*/
.ball {
	position: absolute;
	border: 0px;
	background-color: red;
	border-radius: 20px;
}

/* Define font */
.font {
	font-family: Arial;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
}

/* Define color */
.colorFont1 {
	color: green;
}

.colorFont2 {
	color: blue;
}

.colorFont3 {
	color: yellow;
}

.theme1 {
	background-color: green;
}

.theme2 {
	background-color: blue;
}

.theme3 {
	background-color: yellow;
}

/* Define separator */
.separator {
	float: left;
	border: 0px;
	width: 100%;
	height: 5px;
}