@CHARSET "UTF-8";

html {
	overflow: hidden;
}

.font {
	font-family: "helvetica";
}

.gameLayer {
	display: none;
}

.box {
	position: absolute;
	width: 220px; left : 42%;
	margin-top: 100px;
	background: rgba(80, 80, 80, 0.6);
	padding: 5px;
	border-radius: 25px;
	border: 2px black solid;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
	left: 42%;
}

div.box input {
	margin: 10px;
	width: 200px;
	padding: 5px;
	border: 2px black solid;
	border-radius: 25px;
	background: #4565ff;
	font-weight: bold;
	font-size: 20px;
	color: white;
}

.bCloseMenu {
	float: right;
	margin-right: 20px;
	background: #000;
	border: 2px black solid;
	border-radius: 25px;
	color: white;
	font-weight: bold;
}

div.box input:HOVER {
	background: #9f0;
}

.title {
	text-align: center;
	font-size: 80px;
	font-style: italic;
	color: #333;
	padding: 10px;
	text-shadow: -1px -1px 0px #101010, 1px 1px 0px #505050;
}

#board {
	float: left;
	width: 100%;
	border: 1px black solid;
	border-radius: 25px;
	width: 100%;
	/* Background */
	background-image: url("resources/background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

#countToStartGame {
	margin-top: 20%;
	color: #F33;
}

/*================ 
	   Scores
==================*/
div.centerTable {
	text-align: center;
}

div.centerTable Table {
	margin: 0 auto;
	margin-top: -5px;
	text-align: center;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	/* 	border-collapse: collapse; */
	border-spacing: 0;
}

.score {
	width: 80px;
	height: 50px;
	font-family: helvetica;
	font-weight: bold;
	font-size: 20px;
	border: 1px black solid;
}

#score1 {
	border-radius: 10px 0 0 10px;
}

#score2 {
	border-radius: 0 10px 10px 0;
}

/*================ 
	  Players
==================*/
.player {
	position: absolute;
	width: 100px;
	height: 100px;
	/* 	border-top: 15px solid transparent; */
	/* 	border-bottom: 15px solid transparent; */
}

.hud {
	width: 100px;
	height: 15px;
}

.lifeBar {
	width: 100px;
	height: 15px;
	background-image: url("resources/lifeBar.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100px 15px;
	border-radius: 4px;
}

#player1 {
	/* 	border-left: 60px solid blue; */
	/* 	border: 1px black solid; */
	background-image: url("resources/player1.gif");
	background-repeat: no-repeat;
	background-position: center;
	/* 	transform: rotate(0deg); */
	/* 	-ms-transform: rotate(0deg); IE 9 */
	/* 	-webkit-transform: rotate(0deg); Safari and Chrome */
}

#player2 {
	/* 	border-left: 60px solid red; */
	/* 	border: 1px black solid; */
	background-image: url("resources/player2.gif");
	background-repeat: no-repeat;
	background-position: center;
}

/*================ 
	  Shoot
==================*/
.shoot {
	position: absolute;
	width: 50px;
	height: 50px;
	/* 	border: 1px black solid; */
	background-image: url("resources/billBala.gif");
	background-repeat: no-repeat;
	background-position: center;
}